@import "tailwindcss";


@theme inline{
    --font-main: var(--font-cinzel);
    --font-secondary: var(--font-noto);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}